body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.wi{
  padding: 1rem;
}
.wi:before{
  font-size: 4em;
}

.featured{
  background: #f1f1f1;
}

.current .wi{
  font-size: .5em;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}

.current .description{
  font-weight: bold;
  display: inline-block;
}

.current .temperature{
  font-size: 8rem;
}
